@page
@model dyreinternat___web.Pages.CreateModel
@{
}
<form method="post" enctype="multipart/form-data">
	<input type="text" asp-for="Animal.AnimalID" placeholder="ID" />
	<input type="text" asp-for="Animal.Name" placeholder="Navn" />
	<input type="text" asp-for="Animal.Race" placeholder="Race" />
	<input type="text" asp-for="Animal.Species" placeholder="dyreart" />
	<input type="number" asp-for="Animal.Age" placeholder="Age" />
	<input type="number" asp-for="Animal.Size" placeholder="Størrelse i kg" />
	<input type="text" asp-for="Animal.Gender" placeholder="Køn" />

	<input type="file" name="ImageFile" />

	<input type="submit" value="Gem">
</form>
