@page
@model DocJournalModel
@{
}
<form method="post" enctype="multipart/form-data">
	<input type="number" asp-for="NewDocJournal.Id" placeholder="ID" />
	<input type="text" asp-for="NewDocJournal.Name" placeholder="Navn" />
	<input type="text" asp-for="NewDocJournal.Species" placeholder="dyreart" />
	<input type="text" asp-for="NewDocJournal.Treatment" placeholder="behandlingsbehov" />

   

	<input type="submit" value="Gem">
</form>

@foreach (var docJournal in Model.Lægelog)
{
    <div class="card">
        <div class="card__bg">
            <div class="card-body">
                <h5 class="card-title">@docJournal.Name</h5>
                <p class="card-text">
                    Id: @docJournal.Id<br />
                    Art: @docJournal.Species<br />
                    Behandlingsbehov: @docJournal.Treatment<br />
                </p>
            </div>
        </div>
    </div>
}