@page
@model dyreinternat___web.Pages.EventsModel
@{
}
<form method="post" enctype="multipart/form-data">
	<input type="text" asp-for="Event.Name" placeholder="Navn" />
	<input type="text" asp-for="Event.Description" placeholder="Brødtekst" />
	<input type="time" asp-for="Event.StartTime" placeholder="00:00" />
	<input type="time" asp-for="Event.EndTime" placeholder="00:00" />
	<input type="submit" value="Gem">
</form>
@foreach (var events in Model.Event)
{
    <div class="card">
        <div class="card__bg">
            
            <div class="card-body">
                <h5 class="card-title">@events.Name</h5>
                <p class="card-text">
                    Indhold: @events.Description<br/>
                    Start: @events.StartTime<br />
                    Slut: @events.SlutTime<br />
                   
                </p>
            </div>
        </div>
    </div>
}